---
title: Home page
slug: index
position: 0
listed: true
published: true
is_layout: false
---
{% extends 'layouts/application' %}
{% block 'main' %}
  <div class="wide-layout">
    <div class="row expanded services text-center">
      <h1>
        {% editable_text "heading", line_break: false, format: 'raw', rows: 1 %}
          How can Choice Castings help you?
        {% endeditable_text %}
      </h1>

      <div class="row wide gutter-small" data-equalizer>
        {% editable_model featured_cards %}
          {% for card in contents.featured_cards %}
            <div class="medium-4 column">
              <div class="card">
                <div class="title card-divider" data-equalizer-watch>
                  <p class="lead">{{ card.title }}</p>
                  {{ card.intro }}
                </div>
                <img src="{{ card.image.url | resize: '600x300#' }}">
              </div>
            </div>
          {% endfor %}
        {% endeditable_model %}
      </div>
    </div>
    <div class="row expanded content">
      <div class="row wide">
        <div class="large-6 column">
          {% editable_text content %}
            <h2>Welcome to Choice Castings</h2>
            <p>Opportunities for Foundries to add regular orders.  Industrial and commercial casting solutions.  Not just castings or machined parts, or .  We provide metal castings when you need them at the price you need.</p>
            <p>We focus on know-how, leverage and strategy.  To allow you to focus on your manufacturing and sales.</p>
          {% endeditable_text %}
        </div>
        <div class="large-6 column">
          <ul class="slides text-center">
            <li class="slide" style="background: url('{{ 'slides/slide-1.jpg' | theme_image_url | resize: '600x300#' }}') top center no-repeat;">
              <div class="content">
                <p class="lead">Stocked Items</p>
                <p>Hand wheels - Nest caps - Wing nuts - Spike Grids</p>
              </div>
            </li>
            <li class="slide" style="background: url('{{ 'slides/slide-2.jpg' | theme_image_url | resize: '600x300#' }}') top center no-repeat;">
              <div class="content">
                <p class="lead">Conversions</p>
                <p>Castings are simpler and more effective than fabrications.</p>
              </div>
            </li>
            <li class="slide" style="background: url('{{ 'slides/slide-3.jpg' | theme_image_url | resize: '600x300#' }}') top center no-repeat;">
              <div class="content">
                <p class="lead">Cast Threads</p>
                <p>Malleable iron with cast internal NPT and ACME threads.</p>
              </div>
            </li>
            <li class="slide" style="background: url('{{ 'slides/slide-4.jpg' | theme_image_url | resize: '600x300#' }}') top center no-repeat;">
              <div class="content">
                <p class="lead">Large Castings</p>
                <p>Small to large.  Ferrous and Non Ferrous.  Sand, permanent mold, investment cast.</p>
              </div>
            </li>
            <li class="slide" style="background: url('{{ 'slides/slide-5.jpg' | theme_image_url | resize: '600x300#' }}') top center no-repeat;">
              <div class="content">
                <p class="lead">Machined Components</p>
                <p>We can provide raw or machined castings.</p>
              </div>
            </li>
            <li class="slide" style="background: url('{{ 'slides/slide-6.jpg' | theme_image_url | resize: '600x300#' }}') top center no-repeat;">
              <div class="content">
                <p class="lead">Inventory Program</p>
                <p>Your deliveries will be coordinated, using stocking or consignment programs.</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row stock-items expanded">
      <div class="row wide small-up-2 large-up-4 text-center gutter-small">
        <h3 class="">In Stock Items</h3>
        {% editable_model products %}
          {% for product in contents.products %}
            <div class="column">
              <div class="card clickable" data-url="{% path_to product %}">
                <img src="{{ product.image.url | resize: '200x200#' }}">
                <div class="title card-divider" data-equalizer-watch>
                  <p class="lead">{{ product.title }}</p>
                </div>
              </div>
            </div>
          {% endfor %}
        {% endeditable_model %}
      </div>
    </div>
  </div>
{% endblock %}
