---
title: Application
slug: application
position: 99
listed: false
published: false
is_layout: true
---
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107293990-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());
      gtag('config', 'UA-107293990-1');
    </script>
    {% include 'meta-data' %}
    {{ 'app.css' | stylesheet_tag }}
  </head>
  <body class="{{ page.slug }}">
    <!-- Start Top Bar -->
    <div class="top-bar">
      <div class="row wide">
        <div class="top-bar-left">
          <ul class="menu">
            <li class="logo"><a href="/"><img src="{{ 'ChoiceCastingsLogo-web.png' | theme_image_url }}"></a></li>
          </ul>
        </div>
        <div class="top-bar-right">
          <div class="contact-bar text-center">(616) 956-6800 | <a href="mailto:info@choicecastings.com">info@choicecastings.com</a></div>
          <ul class="dropdown menu" data-dropdown-menu data-alignment="left">
            <li><a href="/">Home</a></li>
            {% for page in site.pages %}
              {% if page.depth == 1 and page.listed? %}
                <li>
                  {% link_to page %}
                  {% unless page.children.size == 0 %}
                    <ul class="menu">
                      {% for subpage in page.children %}
                        <li>{% link_to subpage %}</li>
                      {% endfor %}
                    </ul>
                  {% endunless %}
                </li>
              {% endif %}
            {% endfor %}
            {% include 'header-products-menu' %}
          </ul>
        </div>
      </div>
    </div>
    <!-- End Top Bar -->
      <div class="row expanded text-center banner">
        {% comment %}<img class="banner-image" src="{{ 'banner-1.jpg' | theme_image_url }}">{% endcomment %}
        <p class="lead">A Single Source for <br>ALL of Your Casting Needs</p>
      </div>
    <div class="row expanded">
        {% block main %}
          <div class="row">
          <div class="column content page">
          <h1>{% editable_text "heading", line_break: false, format: 'raw', rows: 1 %}{% endeditable_text %}</h1>
          {% editable_text content %}Lorem ipsum{% endeditable_text %}
          </div>
          </div>
        {% endblock %}
      <footer class="row expanded">
        <div class="row wide">
          <div class="column medium-3">
            <ul class="menu vertical">
              <li><a href="/">Home</a></li>
              {% for page in site.pages %}
                {% if page.depth == 1 and page.children.size == 0 %}
                  <li>
                    {% link_to page %}
                  </li>
                {% endif %}
              {% endfor %}
              <li class="menu-text"><img src="{{ 'ChoiceCastingsLogo-web.png' | theme_image_url }}"></li>
            </ul>
          </div>
          <div class="column medium-3">
            {% include 'footer-menu-block' with slug: 'solutions' %}
          </div>
          <div class="column medium-3">
            {% include 'footer-menu-block' with slug: 'materials' %}
          </div>
          <div class="column medium-3">
            {% include 'footer-products-menu' %}
          </div>
        </div>
          <p class="text-center">Copyright © 2012, Choice Castings Inc. All rights reserved.</p>

      </footer>
    </div>
    <script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
    {{ 'vendor/jquery.sticky.js' | javascript_tag }}
    {{ 'vendor/what-input.min.js' | javascript_tag }}
    {{ 'vendor/foundation.min.js' | javascript_tag }}
    {{ 'app.js'                   | javascript_tag }}
  </body>
</html>
